/* 
	create date : 29/03/2016
	author : sabbana
	custom style portal 
*/

.right-bg{
	background:#FF4444;
	color:#FFF;
	vertical-align:middle;
	min-height:100%;	
}
.jargon{
	text-align:center;
	font-family:impact;
	text-shadow:2px 2px 0 #000;
	font-size:3em;
}
.login{
	background: url(../img/portal/poster1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg-white{ 
	background-color:#fff;
	opacity:0.9;
	position:fixed;
	top:0; right:0;
	height:100%;
	overflow:auto;
	padding:20px;
}
.profile-user-img{
	width:125px;
	height:125px;
}
label > span{
	color:#FF4444;
}
h5.title{
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:solid 2px #FF4444;
}
h1{
	font-family:impact;
}
html, h1 > small{
	font-family:"Montserrat";
}
.content-img{
	padding:2px;
	margin-right:20px;
	border:solid 1px #DDD;
	background:#FFF;
	float:left;
	width:100px;
}
.img-thumb{
	max-width:150px;
	float:left;
	border:solid 1px #CCC;
	padding:1px;
	margin-right:10px;
}
.content-list{
	margin-top:10px;
}

/* MODAL */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 2200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}
.inmodal .modal-body {
  background: #f8fafb;
}
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inmodal .modal-title {
  font-size: 26px;
}
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}
.modal-footer {
  margin-top: 0;
}

.thumb{
	padding:2px;
	border:solid 1px #DDD;
	background:#eee;
	cursor:pointer;
	margin:0px;
}
.thumb:hover{
	background:#555;
}